<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Hide the "public" directory from the URL
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>

# Prevent directory listing
Options -Indexes
